/* Santiago Martinez Ruben Emmanuel*/
body 
{
   background: rgb(122, 122, 106)
}

@media screen and ( max-width: 1024px ) { 
    canvas.responsive { 
        width: 350px; 
    } 
} 
@media screen and ( min-width:1025px ) and ( max-width: 1280px ) { 
    canvas.responsive { 
        width: 450px;
        
    } 
} 
@media screen and ( min-width: 1281px ) and ( max-width: 1366px ){ 
    canvas.responsive { 
        width: 550px; 
    } 
} 
@media screen and ( min-width: 1367px ) { 
    canvas.responsive { 
        width: 650px; 
    } 
} 
/*Tamaño de algunos elementos de configuracion para los efectos*/
.tam{
    height: 20px;
    width: 80px;
}
/* estilos para la matriz de convoluciones*/
.matriz {
    display: inline-flex;
    flex-direction: column;
    border: 2.5px solid;
}

.fila{
	display: flex;
}

.cuadro{
	border: 2.5px solid;
	background-color: white;
	width:60px;/*cambiar a 50*/
    height:60px;/*cambiar a 50*/
    text-align: center;
}
/* Termina estilos matriz*/
.nota{
    margin-top: 20px;
    font-size: 18px;
    color: rgb(194, 213, 248);
    margin-left: 50px;;
}
:root {
  --ancho: 650px;
  --alto: 350px;
  --margen-izquierdo: 10px;
}
.zonaSeleccion{
    width: var(--ancho);
    height: var(--alto);
    margin-left: var(--margen-izquierdo);
}
.img-wrap{ 
    margin-top: 40px;
    display: flex; 
    justify-content: space-around;
} 
canvas.responsive { 
    max-width: 100%; 
    height: auto;
}

.configuracion{
    display: flex;
    margin-top: 10px;
    margin-left: auto;
}
/* Estilos para la barra de desplazamiento*/
.slidecontainer {
    width: 100%;
    display: flex;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-right: 50px;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border: 0;
    background: url('yy.png');
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border: 0;
    background: url('yy.png');
    cursor: pointer;
  }
/* Termina estilos barra desplazamiento*/
/* Estilos para el menu*/
#header {
  margin:auto;
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
  display: inline-block;
}

ul, ol {
  list-style:none;
}

.nav > li {
  float:left;
  
}

.nav li a {
  background-color:rgb(66, 63, 63);
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
  height: 25px;
}

.nav li a:hover {
  background-color:#918f8f;
}

.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.nav li:hover > ul {
  display:block;
}

.nav li ul li {
  position:relative;
}

.nav li ul li ul {
  right:-140px;
  top:0px;
}
